<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 接口的全限定名
-->
<mapper namespace="com.itheima.dao.RouteMapper">
    <select id="findRoutesFavoriteRank" resultType="com.itheima.pojo.Route">
        select * from tab_route
        <where>
            <if test="rname!=null and rname!=''">
               and rname like concat("%",#{rname},"%")
            </if>
            <if test="startPrice!=null and startPrice!=''">
                and price >= #{startPrice}
            </if>
            <if test="endPrice!=null and endPrice!=''">
                and price &lt;= #{endPrice}
            </if>
        </where>
    </select>
</mapper>